@import "ayu-mirage.css";


window#waybar {
	all: unset;
	background: @background_primary;
	margin: 0px;
	padding: 0px;
}

.modules-left, .modules-center, modules-right {
	margin: 2px;
}

.modules-left {
	margin-left: 1rem;
}

.modules-right {
	margin-right: 1rem;
}

#clock {
	font-family: "HermitNerdFont-Mono";
	font-weight: Bold;
	color: @red_normal;
	margin-left: 8px;
	font-size: 1.6rem;
}

#custom-asciiclock {
	font-family: "fantasqueSansMNerdFontMono";
	font-size: 0.7rem;
	margin-bottom: 0.35rem;
	font-weight: 900;
	color: @red_bright;
}

#workspaces button {
	all: unset;
	margin-right: -0.35rem;
	margin-top: -0.35rem;
	margin-bottom: 0.3rem;
	/*margin-left: -0.5rem
	margin-right: -0.5rem;*/
	font-size: 0.7rem;
	font-family: "fantasqueSansMNerdFontMono";
	font-weight: 900;
	color: @green_bright;
	/* transition: 0.2s; */
}

#workspaces button:nth-child(3) {
	margin-right: -0.7rem;
}

#workspaces button:nth-child(5) {
	margin-right: 0rem;
}

#workspaces button.empty {
	color: @green_normal;
}

#workspaces button.active {
	color: @blue_bright;
}

#language {
	font-family: "HermitNerdFont-Mono";
	font-weight: bold;
	color: @blue_normal;
	margin-right: 8px;
	font-size: 1.2rem;
	font-style: italic;
}

#battery {
	font-family: "HermitNerdFont-Mono";
	font-weight: bold;
	color: @white_normal;
	margin-right: 8px;
	font-size: 1.6rem;
}
